<div>
    <h1>Zoom WebSDK Sample Angular</h1>
    <!-- <a href="https://zoom.us/oauth/authorize?response_type=code&client_id=yoApSry_S02hZu1XIZwYZw&redirect_uri=http://localhost:4200/auth" target="_blank" rel="noopener noreferrer">
        <img src="https://marketplacecontent.zoom.us/zoom_marketplace/img/add_to_zoom.png" height="32" alt="Add to ZOOM" />
    </a>
    <br/> -->
    <button (click)="getSignature()">Join Meeting</button>
    <div *ngFor="let x of value | keyvalue">{{x.key}}->{{x.value}}</div>
    media
    <br/>
    <button (click)="getUserDetails()">User Details</button>
     userDetails {{userDetails.length}}
    <div *ngFor="let x of userDetails | keyvalue">{{x.key}}->{{x.value}}</div>
</div>
  