<div>
    <h1>Zoom WebSDK Sample Angular</h1>
    <!-- <a href="https://zoom.us/oauth/authorize?response_type=code&client_id=yoApSry_S02hZu1XIZwYZw&redirect_uri=http://localhost:4200/auth" target="_blank" rel="noopener noreferrer">
        <img src="https://marketplacecontent.zoom.us/zoom_marketplace/img/add_to_zoom.png" height="32" alt="Add to ZOOM" />
    </a>
    <br/> -->
    <button (click)="getSignature()">Join Meeting</button>
    <div *ngFor="let x of value | keyvalue">{{x.key}}->{{x.value}}</div>
    media
    <br/>
    <button (click)="getUserDetails()">User Details</button>
     userDetails {{userDetails.length}}
    <div *ngFor="let x of userDetails | keyvalue">{{x.key}}->{{x.value}}</div><br/>
    -----------------------------------------------------------------------------------<br/>
    <button (click)="getMeetingDetails()">Meeting Details</button>
    meetingDetails {{meetingDetails.length}}
    <div *ngFor="let x of meetingDetails | keyvalue">{{x.key}}->{{x.value}}</div>
    <br/>
    ................................................................<br/>
    allParticipants
    <button (click)="getAllParticipants()">All Participants Details</button>
    <div *ngFor="let participant of allParticipants?.participants">
        <div *ngFor="let x of participant | keyvalue">{{x.key}}->{{x.value}}</div>
    </div>
    -----------------------------------------------------------------------------------
    <div *ngFor="let x of allParticipants[0]?.participants | keyvalue">{{x.key}}->{{x.value}}</div>
    ...................................................................................
    <div *ngFor="let x of allParticipants[1]?.participants | keyvalue">{{x.key}}->{{x.value}}</div>

    <br/>
    ................................................................<br/>
    New Participant
    time : {{newParticipant?.timestamp}}
    <div *ngFor="let participant of newParticipant?.participants">
        <div *ngFor="let x of participant | keyvalue">{{x.key}}->{{x.value}}</div>
    </div>

    <br/>
    <a href="https://www.myamcat.com">MyAMCAT</a>
</div>
  